.myprofile_page{
    padding: 2vh 7vw; 
}

.myprofile_header_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 4px 12px; */
    border-radius: 10px;
    border: 0.6px solid var(--line, #4A4949);
    background: rgba(22, 24, 31, 0.90);
    backdrop-filter: blur(20px);
    min-height: 200px;
}

.myprofile_img{
    border-radius: 183px;
    border: 2px solid #FFF;
    width: 175px;
    height: 175px;
    border-radius: 50%;
}

.profile_name{
    color:  #FAFBFF;
    font-family: Noto Sans;
    padding-bottom: 10px;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin: 0px;
}
@media (max-width: 767px) {
.profile_name{
    color:  #FAFBFF;
    font-family: Noto Sans;
    padding-bottom: 4px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin: 0px;
}}



  .uplod_genre_div select{
    background-color: transparent;
    width:100%;
    /* height: 45px; */
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 0px 12px;
    color: #fff;
    font-size: 16px;
   }
   .uplod_genre_div select option{
     background-color: #363A48;
   }
 
   .uplod_genre_div .ant-select:not(.ant-select-customize-input) .ant-select-selector{
    background-color: transparent;
    min-height: 45px;
   }
 
   .uplod_genre_div .ant-select-multiple .ant-select-selection-item{
      background-color: #363A48;
      color: #FFF;
   }


   .ellipsis {
    text-overflow: ellipsis; /* enables ellipsis */
    white-space: nowrap; /* keeps the text in a single line */
    overflow: hidden; /* keeps the element from overflowing its parent */
   
  }
  .container {
    overflow: hidden;
    margin-bottom: 10px;
  }

  .name-size {
    font-size: 30px;
  }